.mainanalysis{
    flex: 8;
    margin-left: 4vh;
    margin-right: 4vh;
}
.analysistop{
    display: flex;
    justify-content: space-between;
    margin-top: 4vh;
    margin-bottom: 6vh;
}
.ant-form-item{
    margin-bottom: 0 !important;
    justify-content: center;
}

.css-gwqjd7{
    margin-top:0 !important;
}
.analysisdate{
    padding: 4px 36px;
    border: 1px solid;
    border-radius: 5px;
}
.bodyanalysistop{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4vh;
}
.bodyanalysistopcat{
    padding: 12px 28px;
    border: 1px solid;
    border-radius: 5px;
}
.followerchart{
    width: 100%;
    height: 24vh;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    margin-bottom: 4vh;
}
.postranking{
    width: 100%;
    height: 28vh;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    overflow-y: scroll;
    position: sticky;
    
}
.postranking > span {
    font-size: 20px;
}