.main-analysis {
    flex: 8;
    margin-left: 4vh;
    margin-right: 4vh;
}
.analysis-top {
    display: flex;
    justify-content: space-between;
    margin-top: 4vh;
    margin-bottom: 6vh;
}
.ant-form-item {
    margin-bottom: 0 !important;
    justify-content: center;
}

.css-gwqjd7 {
    margin-top:0 !important;
}
.body-analysis-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4vh;
}
.body-analysis-topcat {
    padding: 12px 28px;
    border: 1px solid;
    border-radius: 5px;
}
.follower-chart{
    width: 100%;
    height: 24vh;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    margin-bottom: 4vh;
}
.post-ranking{
    width: 100%;
    height: 28vh;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    overflow-y: scroll;
    position: sticky;
    
}
.post-ranking > span {
    font-size: 20px;
}
.list-account-Analysis{
    width: 200px;
    height: 50px;
    padding: 10px 28px;
    border-radius: 10px;
}