.home-container {
    display: flex;
    background-color: rgb(245, 249, 255);
}
.body-dashboard {
    flex: 8;
}
.dashboard-time {
    float: right;
    margin-right: 4vh;
    margin-top: 4vh;
}
.activity-container {
    border: 1px solid;
    overflow-y: scroll;
    height: 36vh;
    margin: 0 20px;
}
.activity-container-item {  
    margin-left: 8px;
    margin-top: 10px;
}
.activitycontaineritem > span {
    font-size: 20px;
}
