.post-list-body{
    margin-top: 8vh;
    overflow-y: scroll;
    background-color: beige;
    margin: 8vh 4vh;
}
.post-time{
    margin: 2vh 4vh;
    display: flex;
}
.ant-form-item {
    justify-content: center;
    margin-top: 16px !important;
}

.list-post-top {
    display: flex;
    justify-content: space-between;
}
.button-list {
    display: flex;
    justify-content: space-between;
    margin: 2vh 4vh;

}
.post-list-button {
    width: 16%;
    height: 6vh;
}
.post-list-button > span {
    font-size: 16px;
}
.postlistitem {
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4vh;
}

.imgpostitem {
    width: 16vh;
    height: 8vh;
}
.postitemright {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
}
.postitemright > span {
    width: 100%;
    padding-top: 20px;
}
.selectaccount {
    width: 200px;
    height: 50px;
    padding: 10px 28px;
    border-radius: 10px;
    margin: 4vh 4vh;
}
.chakra-select__icon-wrapper {
    display: none !important;
}
.css-42b2qy{
    width: 50% !important;
}