.postlistitem1{
    border: 1px solid rgb(184, 184, 184);
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vh;
    margin-left: 2vh;
    margin-right: 2vh;
    background-color:rgba(163, 195, 255, 0.5);
}
.postitemleft1{
    width: 80%;
}
.postitemleft1 > div{
    padding: 1vh;
    display: flex;
}
.postitemleft1 > div > p{
    margin-left: 2.5vh;
    font-size: 18px;
}
.postitemleft1 > span{
    display: block;
    padding-left: 1vh;
    padding-top: 1vh;
    font-size: 16px;
}

.imgpostitem1{
    width: 16vh;
    height: 8vh;
}
.postitemright1{
    width: 20%;
    display: flex;
    flex-wrap: wrap;
}
.postitemright1 > span{
    width: 100%;
    padding-top: 20px;
}