.login {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    
}
.loginWrapper {

    width: 50%;
}
  

.loginMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    background-color: white;
    border-radius: 20px;

}
.logintitle{
    color: rgb(105, 96, 96);
    font-size: 32px;
    font-weight: 500;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    padding-bottom: 2vh;
    padding-top: 20px;
}
  
    .loginBox{
        height: 40vh;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
  
    .loginInput{
      height: 60px;
      border-radius: 10px;
      border: 1px solid gray;
      font-size: 18px;
      padding-left: 20px;
    }
  
    .loginInput:focus{
      outline: none;
    }
  
    .loginButton{
      height: 50px;
      border-radius: 10px;
      border: none;
      background-color: rgb(240, 193, 128);
      color: white;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
    }
  
.loginButton:focus{
    outline: none;
}
.loginRegisterButton{
    width: 60%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(194, 31, 169);
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}